@model Cinema

<div class="container my-3">
    <div class="row mb-3 align-items-center">
        <div class="col-md-12">
            <h2 class="display-6">Edit Cinema</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <input type="text" class="form-control" asp-for="Description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="CinemaLogo" class="form-label">CinemaLogo</label>
                    <input type="text" class="form-control" asp-for="CinemaLogo">
                    <span asp-validation-for="CinemaLogo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Address" class="form-label">Address</label>
                    <input type="text" class="form-control" asp-for="Address">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial">

}
